{
    "plugins": [
        "@shufo/prettier-plugin-blade",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php",
                "*.vue"
            ],
            "options": {
                "parser": "blade",
                "tabWidth": 4,
                "tailwindStylesheet": "./resources/css/app.css",
                "trailingComma": "es5",
                "semi": false,
                "singleQuote": true
            }
        }
    ]
}